@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: white;
}

.container {
  width: 90%; /* Aumentar a largura para 90% em telas menores */
  max-width: 1200px; /* Definir uma largura máxima para evitar que o conteúdo fique muito largo */
  margin: auto;
  display: flex;
  align-items: center; /* Centralizar o conteúdo */
}

.header {
  border-bottom: 3px solid #32b9cd;
}

.header .container {
  justify-content: space-between;
}

.header a {
  text-decoration: none;
  color: #40a1e0;
}

.agora {
  font-weight: 800;
}

.navbar {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  color: #3379a9;
}

.navbar li {
  margin: 0 35px; /* Espaçamento entre os itens do menu */
}

.titulo {
height: 50px;
width: auto;
padding: 7px;
}


/* BANNER */

.banner {
height: 400px;
  color: white;
  background-image: url("../img/banner-oficial.png");
  background-size: cover;
}

.banner .container {
  height: 400px;
  font-size: 36px;
  justify-content: center;
  align-items: center;
}

.tamanho-conteudo { 
  height: fit-content !important;
}

.banner p {
  width: 50%;
  margin: 0;
  padding: 0;
  width: 280px;
  font-size: 36px;
}

.banner .container span {
  font-weight: 800;
}

/* missao visao valores */

.social {
  background-color: #e5e5e5;
  display: flex;
}

.social .container{
  justify-content: center;
}

.box img {
  width: 170px;
}

.social .container .boxes {
  display: flex;
}

.social p {
  text-align: center;
  font-weight: 400;
}

.box {
  margin: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.box {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* FOOTER */

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px 0;
}

#footer-container {
  display: flex;
  flex-wrap: wrap; /* Permitir que os elementos dentro do footer sejam envoltos em várias linhas */
  justify-content: space-around;
  margin: 0 auto;
  padding: 20px;
}

.footer-section {
  flex: 1 1 300px; /* Definir largura mínima e máxima para cada seção do footer */
  margin: 10px;
}

.footer-section h3 {
  margin-bottom: 10px;
}

.footer-section p, .footer-section a {
  color: white;
  text-decoration: none;
  line-height: 1.6;
}

footer .footer-section a {
  display: block;
  margin-bottom: 5px;
}

.footer-section a:hover {
    text-decoration: underline;
}

/* pagina about */

.team-container {
    width: 90%;
    margin: 20px auto;
  }
  
  h2, h3 {
    text-align: center;
    color: #40a1e0;
  }
  
  h2 {
    font-size: 32px;
  }
  
  h3 {
    font-size: 28px;
    font-weight: normal;
  }
  
  h3 span {
    font-weight: bold;
  }
  
  
  .team-members {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .member {
    background: #40a1e0;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 20px;
    border-radius: 8px;
    width: calc(33.333% - 20px);
    text-align: center;
  }
  
  .member img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .social-links a {
    margin: 0 5px;
    text-decoration: none;
    color: #333;
  }
  
  /* Estilos para o link do repositório */
  .repositorio {
    text-align: center;
    margin-top: 20px;
    width: 100%;
  }
  
  .repositorio a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #40a1e0;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .repositorio a:hover {
    background-color: #32b9cd;
  }
  
  @media (max-width: 768px) {
    .footer-section {
      flex-basis: 50%; /* Em telas menores, cada seção ocupará metade da largura */
    }
  }
  
  @media (max-width: 480px) {
    .footer-section {
      flex-basis: 100%; /* Em telas ainda menores, cada seção ocupará a largura total */
    }
  }

  .banner-produto {
    height: 400px;
      color: white;
      background-image: url("../img/banner-oficial.png");
      background-size: cover;
  }
  
  .banner-produto .container {
  height: 400px;
  font-size: 36px;
  justify-content: center;
  align-items: center;
  }
  
  .banner-produto .container span {
  font-weight: 800;
  }
  
  .popup {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
  }
  
  .icones {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
  }
  
  .caixa {
    text-align: center;
    cursor: pointer;
  }
  
  .caixa img {
    width: 100px; 
  }
  
  .modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    align-items: center;
    justify-content: center;
  }
  
  .conteudo-modal {
    background-color: #fff;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .fechar {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .fechar:hover,
  .fechar:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
 /* LOGIN */

.container-pagina {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-login {
  width: 80%;
  max-width: 400px;
  padding: 40px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.mensagem {
  margin-bottom: 20px;
  font-weight: bold;
  color: #007bff;
}

.grupo-form {
  margin-bottom: 20px;
  text-align: left;
}

.grupo-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.grupo-form input[type="email"],
.grupo-form input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button[type="submit"] {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

.mensagem-erro {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}

.mensagem-sucesso{
  display: none; 
  color: green; 
  font-weight: bold; 
  text-align: center; 
  margin-top: 20px; 

}

#logoutBtn {
  background-color: black;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

#infoUsuario {
  font-size: 30px;
  font-weight: 800;
  margin: 20px;
  margin-bottom: 400px;
  text-align: center;
}

.cabecalho-logout {
  background-color: #007bff;
  padding: 20px;
  color: #fff;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 0;
}
